anyio
async-generator
attrs
autopep8
beautifulsoup4
bottle
bottle-websocket
bs4
certifi
cffi
chardet
charset-normalizer
click
colorama
comtypes
docopt
Eel
fastapi
Flask
future
gevent
gevent-websocket
greenlet
h11
httptools
idna
itsdangerous
Jinja2
keyboard
MarkupSafe
MouseInfo
mysql
mysql-connector-python
mysqlclient
numpy
opencv-python
outcome
packaging
Pillow
pipreqs
protobuf
PyAudio
PyAutoGUI
pycodestyle
pycparser
pydantic
PyGetWindow
PyMsgBox
pyparsing
pyperclip
pypiwin32
PyRect
PyScreeze
PySocks
python-dotenv
pyttsx3
pytweening
pywin32
PyYAML
requests
selenium
sniffio
sortedcontainers
soupsieve
SpeechRecognition
starlette
tqdm
trio
trio-websocket
typing_extensions
undetected-chromedriver
urllib3
uvicorn
watchfiles
webdriver-manager
websockets
Werkzeug
whichcraft
wsproto
yarg
zope.event
zope.interface
